* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #fff;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#emoticonContainer {
    position: absolute;
    height: calc(60% - 30px);
    width: 100%;
    top: 30px;
    left: 0;
}

#emotionImage {
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    top: 5vmin;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: blue;
}

#secondaryEmotionImage {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    top: 25vmin;
    left: 75%;
}

.hidden {
    display: none;
}

#historyContainer {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 60%;
    left: 0;
    padding: 30px 0 0 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scrollArea {
    display: inline-block;
}

.block {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
}

.block img {
    width: 30px;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#initButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 22px
}
